{% extends "master.html" %}

{% block title %}
  Django CRUD - Edit Page
{% endblock %}

{% block content %}
<h1 class="text-center mt-3">Add new Candidate</h1>
<a href="/" class="btn btn-primary mb-3"> Back</a>

<form class="row g-3" action="{% url 'update' candidate.id %}" method="post">
    {% csrf_token %}
    {% if messages %}
        <div class="mt-3">
        {% for message in messages %}
            <div class="alert alert-danger alert-info" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        </div>
    {% endif %}
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">First Name: </label>
      <input type="text" name="firstname" class="form-control" id="inputEmail4" value="{{candidate.firstname}}">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Last name: </label>
      <input type="text" name="lastname" class="form-control" id="inputPassword4" value="{{candidate.lastname}}">
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Email:</label>
      <input type="text" name="email" class="form-control" id="inputAddress" placeholder="example@gmail.com" value="{{candidate.email}}">
    </div>
    <div class="col-3">
      <label for="inputAddress2" class="form-label">Phone</label>
      <input type="number" name="phone" class="form-control" id="inputAddress2" placeholder=" eg 0812345678" value="{{candidate.phone}}">
    </div>
    <div class="col-md-3">
        <label for="inputState" class="form-label">Gender</label>
        <select id="inputState" class="form-select" name="gender">
            <option selected>Choose...</option>
            <option value="male" {% if candidate.gender == 'male' %}selected{% endif %}>Male</option>
            <option value="female" {% if candidate.gender == 'female' %}selected{% endif %}>Female</option>
        </select>
    </div>
    <div class="col-md-3">
      <label for="inputCity" class="form-label">Age</label>
      <input type="number" name="age" class="form-control" id="inputCity" value="{{candidate.age}}">
    </div>
    <div class="col-md-3">
      <label for="inputCity" class="form-label">Country</label>
      <input type="text" name="country" class="form-control" id="inputCity" value="{{candidate.country}}">
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Update Candidate</button>
    </div>
</form>

{% endblock %}